# Virtual Environment
venv/
.venv/
env/

# Python Cache & Runtime Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases and configuration inputs/outputs (sensitive)
*.xml
*.json

# Logs
*.log

# Temporary files
*.tmp

# Sensitive local configurations/secrets
*password*
.env
